/* frontend/src/styles/CrazyMode.css */

.crazy-mode-background {
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;
  opacity: 0.3;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.crazy-mode .crazy-text-shadow {
    text-shadow: 
        0 0 5px #fff,
        0 0 10px #fff,
        0 0 15px #0073e6,
        0 0 20px #0073e6,
        0 0 25px #0073e6,
        0 0 30px #0073e6,
        0 0 35px #0073e6;
    animation: crazy-text-flicker 2s infinite alternate;
}

@keyframes crazy-text-flicker {
    0%, 18%, 22%, 25%, 53%, 57%, 100% {
        text-shadow:
            0 0 4px #fff,
            0 0 11px #fff,
            0 0 19px #fff,
            0 0 40px #0fa,
            0 0 80px #0fa,
            0 0 90px #0fa,
            0 0 100px #0fa,
            0 0 150px #0fa;
    }
    20%, 24%, 55% {       
        text-shadow: none;
    }
}
